body{
  margin: :0;
  padding: 0;
  font-family: sans-serif
  background: #d0def5;
  touch-action:manipulation;
}

.board{
  display: inline-block;
  border: 1px solid;
  margin:0;
  padding:0;
  height:70px;
  width:70px;
}

.message{
  text-align: center;
  color: black;
}

input.direction{
  font-size: 30px;
  padding: 40px;
  width: 100px;
  height:100px;
}
input.rotate{
  font-size: 30px;
  padding: 40px;
  width: 100px;
  height:100px;
}
.hold{
  width: 170px;
  height:170px;
  border: 10px solid;
  position: absolute;
  left: 800px;
  display: inline-block;
}
.holdboard{
    display: inline-block;
    width: 40px;
    height:40px;;
}

.test{
  position: absolute;
  height:1300px;
  width: 350px;
  display: inline-block;
  /* background-color: orange; */
}
.test2{
  position: absolute;
  left:400px;
  height:1300px;
  width: 350px;
  display: inline-block;
  /* background-color: purple; */
}

a{
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#controller{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    position: absolute;
    left: 800px;
    top:1000px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: orange;
}
.dropbutton{
  width: 100px;
  height: 100px;
  position: center;
}
.rotatel{
  float: left;
  width:100px;
  height: 100px;
  border-radius: 50%;
  background:blue;
}

.rotater{
  float:left;
  width:100px;
  height: 100px;
  border-radius: 50%;
  background:pink;
}
