body{
  margin: :0;
  padding: 0;
  font-family: sans-serif
  background: #d0def5;
}

.board{
  display: inline-block;
  border: 1px solid;
  margin:0;
  padding:0;
  height:70px;
  width:70px;
}

.message{
  text-align: center;
  color: black;
}

input.direction{
  font-size: 30px;
  padding: 40px;
  width: 100px;
  height:100px;
}
input.rotate{
  font-size: 30px;
  padding: 40px;
  width: 100px;
  height:100px;
}
