<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <font size=200px>
    諦めてください🤗
  </font>
    <br>
    <a href="/">ログインページへ戻る</a>
  </body>
</html>
