<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% for(var i=1;i<10;i++){%>
    <% for(var j=1;j<10;j++){%>
      <span class=board></span>
      <%}%>
      <br>
      <%}%>
      a
  </body>
</html>
