<!DOCTYPE html>
<html>
  <head>
        <div class=menu>
          <a class=content href=javascript:changescreen("top")>トップ</a>
          <a class=content href=javascript:changescreen("func")>機能紹介</a>
          <a class=content href=javascript:changescreen("othello")>オセロ</a>
            <a class=content href=javascript:changescreen("login")>ログアウト</a>
        </div>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/common.js"></script>
    <script type="text/javascript">
    var board=new Board(8);
    </script>
    <meta name="viewport" content="user-scalable=no">
  </head>
  <body>
    <div id="othello">

    <p>宇宙感覚のオセロへ</p>
    <center>
    <% for(var i=0;i<8;i++){%>
    <% for(var j=0;j<8;j++){%>
      <a class=board id=<%= 100*(i+1)+j%> href=javascript:board.check(<%= 10*i+j %>);><span class=stone id=<%= 10*i+j%>></span></a>
      <%}%>
      <br>
      <%}%>
              <center><input type=button class="btn-gradient-3d" value=スタート onclick=board.reset() id=startbutton></center>
    </center>
<br>


<div id="o" style="display:block"<h3>Visibility:hidden</h3></div>
<input type=button value="こんにちは" onclick=javascript:changedisplay()>

<font color=blue size=50>
which color do you want to choose?
</font>
<br>


<div class=logo>
<h1>
  <em>T</em>
  <em class="planet left">A</em>
  <em></em>
  <em>K</em>
  <em class="planet right">A</em>
  <em>Y</em>
</h1>
</div>
</div>
<script type="text/javascript">
  function changescreen(content){
    var arr=["top","othello","func","login"]
    for(var i=0;i<arr.length;i++){
      if(arr[i]==content){
      document.getElementById(arr[i]).style.display="block"
    }
    else{
      document.getElementById(arr[i]).style.display="none"
    }
  }}
</script>



<div class="func" style="display:none">
<canvas id="canvas" id=play></canvas>
</div>
<div class="login" style="display:none">

</div>
<div id="top" style="display:none">
  <div class="title">
    <h1>ようこそいらっしゃtwrtwい</h1>
  </div>
</div>
  </body>
</html>
