<!DOCTYPE html>
<html lang="jp" dir="ltr">
  <head>
<link rel='stylesheet' href='/stylesheets/login.css' />
    <meta charset="utf-8">
    <meta name="" content="viewport=no">
    <title></title>
  </head>
  <body>


  <h1>ご利用いただきありがとうございます</h1>
  <div class="errm">
  <center><%= message%></center>
  </div>
  <div class="comment">
  <center>IDとパスワードを入力してサインインしてください</center>
  </div>
<form class="" action="/logincheck" method="post">
  <div id=inputform>
    <center>
  <input class=text type="text" name="id" value="" placeholder="あなたのお名前" maxlength="20"><br>
  <input class=text type="password" name="password" value="" placeholder="あなたのパスワード">
    <input type="submit" name="" value="ログイン">
    </div>
  </center>
<hr color=white width=90% height=1px>
    <center> <div class=check><font color=#f5f0f0></font><a href="/giveup">パスワードをお忘れですか？</a></center></div>
    <center> <div class=check><font color=#216deb>アカウントはお持ちでないですか？</font><a href="/regist">新規登録する</a></center></div>
    </form>
    <hr color=white width=90% height=1px>
    <div class="logo">@高柴コーポレーション2020</div>
  </body>
</html>
