<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <%- include('./header.ejs')%>
            <meta name="viewport" content="user-scalable=no">
        <link rel='stylesheet' href='/stylesheets/header.css' />
    <meta charset="utf-8">
    <title></title>
    <div class=menu>qqqqqq</div>
  </head>
  <body>
<form class="box" action="/logincheck" method="post">
  <h1>Login</h1>
  <input type="text" name="" placeholder="username">
    <input type="password" name="" placeholder="password">
    <input type="submit" name="" value="Login">
</form>
  </body>
</html>
