<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/tetris.css">
    <script type="text/javascript" src="/javascripts/tetris.js"></script>
        <meta name="" content="viewport=no,userscalable=no">
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript">
          var tetris=new Tetris();
    </script>
<style>
  body , input , textarea , select {
  /* 入力欄にフォーカスが当たっても拡大しない */
    font-size:17px;
  }
</style>
  </head>
  <body>
    <a class=test href="javascript:tetris.movedraw([0,-1])"></a>
    <a class=test2 href="javascript:tetris.movedraw([0,1])"></a>
    <div id=controller>
      <a class=rotater href="javascript:tetris.droptolast()"></a>
      <a class=rotatel href="javascript:tetris.rotateleft()"></a>
        <a class=rotater href="javascript:tetris.rotateleft()"></a>

    </div>
    <span class="hold">
      <script type="text/javascript">
      for (var i = 0; i <4; i++) {
        for (var j = 0; j < 4; j++) {
          document.write("<span class=holdboard id="+(10*(i+1)+j)+"></span>")
        }
        document.write("<br>")
      }
      </script>
    </span>
    <div id=board>
    <script type="text/javascript">
    for (var i = 3; i <tetris.boardheight; i++) {
      for (var j = 0; j < tetris.boardwidth; j++) {
        document.write("<span class=board id="+(100*(i+1)+j)+"></span>")
      }
      document.write("<br>")
    }
  </script>
<script type="text/javascript">
    tetris.createnewpeace(tetris.makenewplace.bind(tetris));
    setInterval("draws()",700);
    function draws(){
      tetris.drop();
      tetris.drawboard();
    }
    // var t=0;
    // function add(){
    //   t++;
    //   document.write(t);
    //   if(t%100==0){
    //     document.write("<br>");
    //   }
    // }
    // // setInterval("add()",10);

    </script>
        <input type=button class="direction" onclick=tetris.move([0,-1]) value="左">
    <input type=button class="direction" onclick=tetris.move([0,1]) value="右">
        <input type=button class="direction" onclick=tetris.droptolast() value="下">
                        <input type=button class=rotate onclick=tetris.rotateleft() value="左回転">
                <input type=button class=rotate onclick=tetris.rotateright() value="右回転">
                <input type="button" name="" value="リセット" onclick=tetris.reset()>
                  <input type="button" name="" value="ホールド" onclick=tetris.holdpeace()>
                  <input type="button" name="" value="ホールド" onclick=tetris.drwatest()>
<script type="text/javascript">
  function down(){
    tetris.move([1,0])
    tetris.drawboard()
  }
  function left(){
    tetris.move([0,-1])
    tetris.drawboard()
  }
  function right(){
    tetris.move([0,1])
    tetris.drawboard()
  }

  function rotater(){
tetris.rotateright()
    tetris.drawboard()
  }
  function rotatel(){
tetris.rotateleft()
    tetris.drawboard()
  }

</script>
  </body>
</html>
