<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/top.css">
  </head>
  <body>
    <div id=header>
      <h1>ようこそ高柴コーポレーションへ</h1>
    </div>
    <div id="main">
      <h2>高柴コーポレーションとは</h2>
      <p>何をコーポレイトしているのかよくわからないサイトです。<br>
      創業は2020年です。
      </p>
      <h2>このサイトでできることは</h2>
        <p>何もありません<br>好きなだけオセロを楽しんでください</p>
        <a href="/othello">Let's Play Othello</a>
        <p>テトリスもどうぞ</p>
        <a href="/tetris">新感覚のテトリス</a>
    </div>
    <div id="footer">
      <p>Corporated By TAKASHIBA 2020</p>
    </div>
  </body>
</html>
